{% extends 'base.html.twig' %}

{% block title %}Card Game{% endblock %}

{% block body %}
    {% if app.user %}
        <p>Bienvenido de nuevo {{ app.user.username }}
        {% if is_granted('ROLE_ADMIN') %}
            <a href={{ path('admin_view') }}>Ver Estadísticas</a>
        {% endif %}
        <p>Partidas ganadas: {{ app.user.gamesWon}}</p>
        <p>Partidas perdidas: {{ app.user.gamesLost}}</p> 
        {% if actual_game %}
        {% if actual_game.isFinished() %}
        <div>
            <p>Iniciar partida:<p>
            <a href="/game/create/false">Start Easy Game</a>
            <a href="/game/create/true">Start Difficult Game</a>
        </div>
            {% if actual_game.isWon() %}
                <h1>GANASTE</h1>
            {% else %}
                <h1>PERDISTE</h1>
            {% endif %}
        {% else %}    
        <div>
            <article>
            <h2>Tus Cartas - Selecciona Una</h2>
            {% for card in actual_game.getPlayerCards() %}
                <a href="/card/pick/{{card.getId()}}/game/{{actual_game.getId()}}">{{card.getNumber()}} -- {{card.getSuit()}}</a><br>
            {% endfor %}
            <h2>Cartas de la Maquina - Selecciona Una</h2>
            {% for card in actual_game.getMachineCards() %}
                <p>{{card.getNumber()}} -- {{card.getSuit()}}</p>
            {% endfor %}
        </div>
        {% endif %}    
        {% else %}
        <div>
            <p>Iniciar partida:<p>
            <a href="/game/create/false">Start Easy Game</a>
            <a href="/game/create/true">Start Difficult Game</a>
        </div>
        {% endif %}
    {% else %}
        <a href="/register">Registrarse</a>
    {% endif %}
{% endblock %}
